* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
}

.nav {
  width: 30vw;
  position: fixed;
}

.nav__item li {
  list-style: none;
}

.nav__empty-block {
  width: 70%;
  height: 50px;
  background-color: rgb(209, 204, 204);
}

.nav__empty-block_big {
  height: 200px;
}

.nav__item h3 {
  margin-left: 40px;
}

.nav__item-price {
  display: flex;
  flex-direction: column;
}

.nav__item-price lable {
  margin: 15px 40px;
}

.nav__item-price lable input {
  width: 250px;
}

.item__airline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin-top: 5px;
}

.item__airline-title {
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results {
  width: 70vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  position: relative;
  left: 30vw;
}

.flights {
  width: 60%;
}
.flight {
  width: 100%;
  margin: 10px auto;
}
.flight__header {
  width: 100%;
  height: 50px;
  background-color: rgb(42, 137, 214);
  color: white;
  justify-content: space-evenly;
  padding-top: 5px;
}

.flight__price,
.flight__price-text {
  justify-content: end;
  display: flex;
  margin-right: 2%;
}

.flight__price {
  font-size: 1.5em;
}

.flight__price-text {
  font-size: 0.8em;
}

.flight__info-city {
  font-weight: 400;
  font-size: 1.1em;
}

.flight__info-city_blue {
  color: rgb(42, 137, 214);
}

.flight__info-cities {
  border-bottom: 1px solid rgb(197, 196, 196);
}

.flight__info-transfer {
  position: relative;
  margin-bottom: 15px;
  color: rgb(252, 160, 86);
  font-weight: 500;
  margin-top: 10px;
}
.flight__info-airlines {
  display: flex;
  width: 100%;
  align-content: start;
  padding-bottom: 10px;
  padding-left: 50px;
}
.flight__info-transfer::before,
.flight__info-transfer::after {
  content: "";
  width: 300%;
  height: 2px;
  background-color: rgb(197, 196, 196);
  display: inline-flex;
  position: absolute;
  top: 10px;
  right: 100px;
}

.flight__info-transfer::after {
  top: 10px;
  left: 100px;
}

.right-arrow {
  display: inline-flex;
  position: relative;
  width: 20px;
  height: 20px;
  top: 10px;
}

.right-arrow::before,
.right-arrow::after {
  display: inline-flex;
  position: absolute;
  content: "";
}

.right-arrow::before {
  top: 8px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: rgb(42, 137, 214);
}

.right-arrow::after {
  width: 5px;
  height: 5px;
  top: 5px;
}

.right-arrow::after {
  right: -20px;
  border-top: 2px solid rgb(42, 137, 214);
  border-right: 2px solid rgb(42, 137, 214);
  transform: rotate(45deg);
}

.flight__content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.flight__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.flight__info-cities {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.flight__info-city-group {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
}

.flight__info-city {
  margin: 10px;
}

.flight__info-times {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flight__info-time {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.flight__info-time_clock::before {
  background-image: url(https://img.icons8.com/ios/50/000000/clock--v1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  content: "";
}

.flight__info-time-time {
  font-size: 1.3em;
  margin-right: 10px;
}

.flight__info-time-date {
  font-weight: 400;
}

.flight__info-airlines_border {
  border-bottom: 2px solid rgb(42, 137, 214);
}

.flight__button {
  width: 100%;
  height: 50px;
  background-color: rgb(252, 160, 86);
  color: white;
  border: none;
  font-size: 1.2em;
  text-transform: uppercase;
}
